body {
  font-family: Helvetica Neue;
  padding: 20px; }

h1, h2 {
  text-align: right; }

h1 {
  font-weight: 400;
  margin: 0; }

h2 {
  font-size: 16px;
  font-weight: 400;
  color: #888;
  margin-top: 0; }

table#months {
  margin-top: 50px;
  margin-left: 27px; }
  table#months td {
    width: 358px;
    font-size: 12px; }
  table#months td#jul {
    padding-left: 13px; }
  table#months td#oct {
    padding-left: 8px; }
  table#months td#jan2 {
    padding-left: 8px; }

table.data {
  margin-top: 20px;
  border-spacing: 0 2px; }
  table.data tr td {
    width: 2px;
    padding: 0;
    font-size: 12px;
    height: 6px !important; }
  table.data tr td:first-child {
    padding-right: 10px;
    display: none; }
  table.data tr td.month {
    border-left: 2px solid #999; }
    table.data tr td.month:last-child {
      border-left: 0;
      border-right: 2px solid #999; }

td.temp1 {
  background: #fff5f0; }

td.temp2 {
  background: #fee0d2; }

td.temp3 {
  background: #fcbba1; }

td.temp4 {
  background: #fc9272; }

td.temp5 {
  background: #fb6a4a; }

td.temp6 {
  background: #ef3b2c; }

td.temp7 {
  background: #cb181d; }

td.temp8 {
  background: #a50f15; }

td.temp9 {
  background: #67000d; }

table#legend {
  font-size: 12px;
  padding: 30px 0 0 35px; }
  table#legend td {
    width: 120px;
    padding-left: 10px;
    padding-right: 25px; }
  table#legend td.space {
    width: 30px;
    padding: 0;
    border: 1px solid #bbb; }
