body {
    padding: 10px;
}
h3 {
    margin: 10px auto 20px;
    font-size: 23px;
    text-align: center;
}
table {
    margin: 0 auto;
    max-width: 500px;
    #title th {
        text-align: center;
    }
    tr td:last-child, #total {
        text-align: right;
    }
}
