body {
    font-family: Helvetica Neue;
    padding: 20px;
}
h1, h2 {
    text-align: right;
}
h1 {
    font-weight: 400;
    margin: 0;
}

h2 {
    font-size: 16px;
    font-weight: 400;
    color: #888;
    margin-top: 0;
}

table#months {
    margin-top: 50px;
    margin-left: 27px;
    td {
        width: 358px;
        font-size: 12px;
    }
    td#jul {
        padding-left: 13px;
    }
    td#oct {
        padding-left: 8px;
    }
    td#jan2 {
        padding-left: 8px;
    }
}

table#data {
    margin-top: 20px;
    border-spacing: 0 2px;
    tr {
        td {
            width: 4px;
            padding: 0;
            font-size: 12px;
            height: 14px !important;
        }
        td:first-child {
            padding-right: 10px;
        }
        td.month {
            border-left: 2px solid #999;
            &:last-child {
                border-left: 0;
                border-right: 2px solid #999;
            }
        }
    }
}

td.sub20 {
    background: #4575b4;
}
td.sub30 {
    background: #74add1;
}
td.sub40 {
    background: #abd9e9;
}
td.sub50 {
    background: #e0f3f8;
}
td.sub60 {
    background: #ffffbf;
}
td.sub70 {
    background: #fee090;
}
td.sub80 {
    background: #fdae61;
}
td.sub90 {
    background: #f46d43;
}
td.greater90 {
    background: #d73027;
}

table#legend {
    font-size: 12px;
    padding: 30px 0 0 30px;
    td {
        width: 120px;
        padding-left: 10px;
        padding-right: 25px;
    }
    td.space {
        width: 30px;
        padding: 0;
        border: 1px solid #bbb;
    }
}
