<!DOCTYPE html>
<html>
<body>
<div id="DC-search-projectid-11803-gartner-qa-reports" class="DC-search-container"></div>
<script src="//s3.amazonaws.com/s3.documentcloud.org/embed/loader.js"></script>
<script>
  dc.embed.load('http://www.documentcloud.org/search/embed/', {
    q: "projectid: 11803-gartner-qa-reports ",
    container: "#DC-search-projectid-11803-gartner-qa-reports",
    title: "Gartner Quality Assurance Reports",
    order: "title",
    per_page: 12,
    search_bar: true,
    organization: 536
  });
</script>
</body>
</html>
