{% extends "base.html" %}

{% block title %}Tar Sands Resolution | VPR{% endblock %}
{% block description %}This is the source for an iframe embedded on digital.vpr.net{% endblock %}

{% block bootstrap %}{% endblock %}
{% block style %}
<link href="{{ url_for('static', filename='css/town-meeting.css') }}" rel="stylesheet">
{% endblock %}


{% block iframe %}
<h3>Anti Tar Sands Resolution</h3>
<div id="tar_sands_table">
</div>
{% endblock %}

{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/town-meeting-ck.js') }}"></script>
{% endblock %}
