{% extends "base.html" %}

{% block title %}Burlington Max Temperature Since 1941 | VPR{% endblock %}
{% block description %}A graph showing the daily max temperature in Burlington from January 1, 1941 to December 31, 2011{% endblock %}

{% block bootstrap %}{% endblock %}
{% block style %}
<link href="{{ url_for('static', filename='css/winter.css') }}" rel="stylesheet">
{% endblock %}


{% block iframe %}
<h1>Daily Max Temperature in Burlington, VT 1941-2012</h1>
<h2>Created by: @mattparrilla of @vprnet // Data Source: USHCN, Burlington Station</h2>
{#
<table id="months">
    <tr>
        <td id="jan">Jan</td>
        <td id="apr">Apr</td>
        <td id="jul">Jul</td>
        <td id="oct">Oct</td>
        <td id="jan2">Jan</td>
    </tr>
</table>
#}
{% for temp in temperatures %}
    <table class="data">
    {% for winter in winters %}
        {#
        {% if loop.index == 1 %}
        <tr>
            {% for day in winter %}
                <td {% if day|int == 1 %}class="month"{% endif %}></td>
            {% endfor %}
        </tr>
        {% else %}
        #}
        <tr>
            {% for day in winter %}
                {% if loop.index == 1 %}
                    <td>{{ day }}</td>
                {% else %}
                    <td
                    {% if day|int < temp.0 %}class="temp1"
                    {% elif day|int >=temp.0 and day|int < temp.1 %}class="temp2"
                    {% elif day|int >=temp.1 and day|int < temp.2 %}class="temp3"
                    {% elif day|int >=temp.2 and day|int < temp.3 %}class="temp4"
                    {% elif day|int >=temp.3 and day|int < temp.4 %}class="temp5"
                    {% elif day|int >=temp.4 and day|int < temp.5 %}class="temp6"
                    {% elif day|int >=temp.5 and day|int < temp.6 %}class="temp7"
                    {% elif day|int >=temp.6 and day|int < temp.7 %}class="temp8"
                    {% elif day|int >=temp.7 %}class="temp9"
                    {% endif %}></td>
                {% endif %}
            {% endfor %}
        </tr>
        {#
        {% endif %}
        #}
    {% endfor %}
    </table>

    {#
    <table id="legend">
        <tr>
            <td class="space sub20"></td>
            <td>Below 20&deg;F</td>
            <td class="space sub30"></td>
            <td>20 - 30</td>
            <td class="space sub40"></td>
            <td>30 - 40</td>
            <td class="space sub50"></td>
            <td>40 - 50</td>
            <td class="space sub60"></td>
            <td>50 - 60</td>
            <td class="space sub70"></td>
            <td>60 - 70</td>
            <td class="space sub80"></td>
            <td>70 - 80</td>
            <td class="space sub90"></td>
            <td>80 - 90</td>
            <td class="space greater90"></td>
            <td>Above 90</td>
        </tr>
    </table>
    #}
{% endfor %}
{% endblock %}

{% block scripts %}
{% endblock %}
